.div1{
    width: 100px;
    height: 100px;
    background-color: black;
    animation: move 1s;
}

@keyframes move{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0);
    }

}